<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.3" targetFramework="net451" />
  <package id="AngularJS.Core" version="1.4.4" targetFramework="net451" />
  <package id="AngularJS.Route" version="1.4.4" targetFramework="net451" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.1.1" targetFramework="net451" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net451" />
  <package id="bootstrap" version="3.3.5" targetFramework="net451" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net451" />
  <package id="jQuery" version="2.1.4" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.7" targetFramework="net451" />
  <package id="Moment.js" version="2.10.6" targetFramework="net451" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Bootswatch.Darkly" version="3.2.0.0" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Bootswatch.Paper" version="3.2.0.0" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Bootswatch.Slate" version="3.2.0.0" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Bootswatch.Yeti" version="3.2.0.0" targetFramework="net451" />
</packages>