<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ukdc">
<head>
    <title>UKDC15</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        table.timetable {
            border-collapse: collapse;
            width: 100%;
        }

            table.timetable td, table.timetable th {
                font-size: small;
                white-space: nowrap;
                border: 1px solid black;
                text-align: center;
                vertical-align: middle;
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
        var ukdc = angular.module("ukdc", []);
        ukdc.controller("timetable", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
            $http.get("timetable.json").success(function (data) {
                $scope.Timetable = data;
                $scope.$Date = $scope.Timetable.Dates[0];
                $scope.Previous = function () {
                    var i = $scope.Timetable.Dates.indexOf($scope.$Date);
                    if (i > 0) { $scope.$Date = $scope.Timetable.Dates[i - 1]; }
                }
                $scope.Next = function () {
                    var i = $scope.Timetable.Dates.indexOf($scope.$Date) + 1;
                    if (i < $scope.Timetable.Dates.length) { $scope.$Date = $scope.Timetable.Dates[i]; }
                }
            });
        }]);
    </script>
</head>
<body ng-controller="timetable">
    <div class="container-fluid text-center">
        <h3>UK Dance Congress 2015<br /><small>Full Programme</small></h3>
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="Previous()">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </span>
                <p class="form-control">{{$Date.Date | date: "EEEE, dd MMMM yyyy"}}</p>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="Next()">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </span>
            </div>
        </div>
        <br />
        <table class="timetable" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="Room in $Date.Rooms">{{Room.Name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Time in $Date.Times">
                    <th>{{Time.Time}}</th>
                    <td ng-repeat="Slot in Time.Slots | filter: {Span: '!0' }" rowspan="{{Slot.Span}}" style="{{Slot.CSS}}">
                        <ng-switch on="Slot.Workshops.length > 0">
                            <div ng-switch-when="true" ng-repeat="Workshop in Slot.Workshops | limitTo: 2" class="workshop"
                                 style="{{Workshop.CSS}}">
                                <b>{{Workshop.Title || "TBC"}}</b><br />
                                {{Workshop.Artist || "TBC"}}<br />
                                <i>{{Workshop.Level || "TBC"}}</i>
                            </div>
                            <div ng-switch-default>
                                <h4>
                                    <b ng-if="Slot.Description">{{Slot.Description}}</b>
                                    <span ng-if="!Slot.Description">Closed</span>
                                </h4>
                            </div>
                        </ng-switch>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
