<br />
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="ctrl.save()">
        <i class="fa fa-save"></i> Save
    </button>
</div>
<br /><br />
<ul class="nav nav-tabs">
    <li ng-repeat="date in timetable.dates" ng-class="{ active: ctrl.isCurrentDate(date) }">
        <a href="" ng-click="ctrl.setCurrentDate(date)">{{date.date || "New Date" | date: "dd MMM yyyy"}}</a>
    </li>
    <li>
        <a href="" class="btn btn-default" ng-click="ctrl.addDate($event)">
            <i class="fa fa-plus-circle text-primary"></i>
            <span ng-if="timetable.dates.length === 0">Add Date</span>
        </a>
    </li>
</ul>
<br />
<div ng-repeat="date in timetable.dates" ng-show="ctrl.isCurrentDate(date)">
    <div class="form-inline text-center">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="date.date" datepicker-popup="dd MMM yyyy" is-open="ctrl.$datepicker" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.datepicker($event)">
                    <i class="fa fa-calendar-o"></i>
                </button>
            </span>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="ctrl.addRoom(date, $event)">
                <i class="fa fa-plus-circle text-primary"></i> Add Room
            </button>
            <button type="button" class="btn btn-default" ng-click="ctrl.addTime(date, $event)">
                <i class="fa fa-plus-circle text-primary"></i> Add Time
            </button>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="timetable" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th width="175"><span class="form-control">Time</span></th>
                    <th ng-repeat="room in date.rooms" colspan="2" style="text-align: center">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.moveRoomLeft(date, room, $event)" ng-disabled="$index === 0" title="Move Left">
                                        <i class="fa fa-chevron-circle-left" ng-class="{ 'text-primary': $index > 0 }"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" ng-model="room.name" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.removeRoom(date, room, $event)" title="Remove Column">
                                        <i class="fa fa-times-circle text-danger"></i>
                                    </button>
                                </span>
                            </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="time in date.times">
                    <th>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.moveTimeUp(date, time, $event)" ng-disabled="$index === 0" title="Move Up">
                                    <i class="fa fa-chevron-circle-up" ng-class="{ 'text-primary': $index > 0 }"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" ng-model="time.time" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.removeTime(date, time, $event)" title="Remove Row">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <td ng-repeat-start="slot in time.slots" ng-click="ctrl.editSlot(date, time, slot, $event)" style="{{ctrl.slotStyle(slot)}}" colspan="{{(slot.split) ? 1 : 2}}">
                        <h4 ng-if="!slot.style">Closed</h4>
                        <div ng-if="slot.style">
                            <b>{{slot.workshops[0].artist || "TBC"}}</b><br />
                            {{slot.workshops[0].title || "TBC"}}<br />
                            {{slot.workshops[0].level || "TBC"}}
                        </div>
                    </td>
                    <td ng-repeat-end style="{{ctrl.slotStyle(slot)}}" ng-if="slot.style && slot.split">
                        <div>
                            <b>{{slot.workshops[1].artist || "TBC"}}</b><br />
                            {{slot.workshops[1].title || "TBC"}}<br />
                            {{slot.workshops[1].level || "TBC"}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<script type="text/ng-template" id="templates/slot.html">
    <div class="modal-header">
        <h4>{{ctrl.room}}<br /><small>{{ctrl.date | date: "dd MMM yyyy"}}, {{ctrl.time}}</small></h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Style</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="ctrl.slot.style" ng-options="key as key for (key, value) in ctrl.styles">
                    <option value="">Closed</option>
                </select>
            </div>
        </div>
        <div ng-show="ctrl.slot.style">
            <div class="form-group">
                <div class="checkbox col-sm-9 col-sm-push-3">
                    <label>
                        <input type="checkbox" ng-model="ctrl.slot.split" />Split Room
                    </label>
                </div>
            </div>
            <div ng-repeat="workshop in ctrl.slot.workshops">
                <div class="form-group" ng-if="ctrl.slot.split">
                    <div class="col-sm-9 col-sm-push-3">
                        <h4>Workshop #{{$index + 1}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Artist</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="workshop.artist" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="workshop.title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default">Close</button>
    </div>
</script>