<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{Timetable.Event}} - Workshop Timetable
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="Date in Timetable.Dates | orderBy: 'Date'" ng-class="{active: ctrl.isCurrentDate(Date)}">
                <a href="" ng-click="ctrl.setCurrentDate(Date)">{{Date.Date | date: "EEEE"}}</a>
            </li>
            <!--<li>
                <a ng-href="/wsexport.ashx?EventId={{ctrl.eventId()}}" target="_self">Export</a>
            </li>-->
            <li class="dropdown" dropdown is-open="StylesFilter.IsOpen">
                <a href="" class="dropdown-toggle" dropdown-toggle>Styles</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="Style in Timetable.Styles">
                        <a href="" ng-click="ctrl.toggleStyle(Style)">
                            <i class="fa fa-lg fa-check-circle" ng-if="Style.Enabled === '1'" style="color: rgb({{Style.RGB}})"></i>
                            <i class="fa fa-lg fa-times text-danger" ng-if="Style.Enabled === '0'"></i>
                            {{Style.Name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" dropdown is-open="LevelsFilter.IsOpen">
                <a href class="dropdown-toggle" dropdown-toggle>Levels</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="Level in Timetable.Levels">
                        <a href ng-click="ctrl.toggleStyle(Style)">
                            <i class="fa fa-lg fa-check-circle text-success" ng-if="Style.Enabled === '1'"></i>
                            <i class="fa fa-lg fa-times-circle text-danger" ng-if="Style.Enabled === '0'"></i>
                            {{Level.Name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div ng-repeat="Date in Timetable.Dates" ng-show="ctrl.isCurrentDate(Date)">
        <div class="text-center">
            <h4 class="text-uppercase">
                {{Date.Date | date: "EEEE, dd MMMM yyyy"}}<br />
                <small>Workshop Timetable</small>
            </h4>
        </div>
        <br />
        <table class="timetable">
            <thead>
                <tr>
                    <th>Time</th>
                    <th ng-repeat="Room in Date.Rooms">{{Room.Name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Time in Date.Times">
                    <th>{{Time.Time}}</th>
                    <td ng-repeat="Slot in Time.Slots" style="{{(Slot.Workshops.length === 1) ? ctrl.workshopCssStyle(Slot.Workshops[0]) : undefined}}">
                        <ng-switch on="Slot.Workshops.length > 0">
                            <div ng-switch-when="true" ng-repeat="Workshop in Slot.Workshops | limitTo: 2" style="{{(Slot.Workshops.length > 1) ? ctrl.workshopCssStyle(Workshop) : undefined}}">
                                <b>{{Workshop.Title || "TBC"}}</b><br />
                                {{Workshop.Artist || "TBC"}}<br />
                                <i>{{Workshop.Level || "TBC"}}</i>
                            </div>
                            <div ng-switch-default><h4>Closed</h4></div>
                        </ng-switch>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{Timetable.Styles}}